/* .viewOurWork {
    background-image: url(vender/image/ViewOurWork.png);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;

}

.viewOurWork {
    color: gold;
    padding: 30px;
}

.sometxt {
    margin-top: 117px;
    margin-left: 30px;
   
   
}
.sometxt h1{
    font-size:x-larger;
    font-weight: bolder;
    font-family: "Rethink Sans", sans-serif;
}

.change {
    color: white;
    display: flex;
}

.web-box {
    background-color: #ffffffa2;
    margin-bottom: 15px;
}

.web-portfolio {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    transition: background-color 0.3s;

}


.web-portfolio img {
    width: 100%;
    height: auto;
    padding: 5px;
    transition: opacity 0.3s;

}

.web-pic {
    border: 5px solid gold;
    border-radius: 10px;

}

.web-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.web-child a.btn {
    margin-top: 10px;
    color: #ffffff;
    background-color: #000;
}
 */

body {
  background-color: rgb(240, 240, 240);
}

.image-container {
  width: 100%;
  height: 450px;
  overflow: hidden;
  background-image: url(vender/career/job-banner.jpg  );
  background-position: 0px -141px;
  background-repeat: no-repeat;
  background-size: cover;
  /* to hide any parts of the image that exceed the div's height */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* This will fit the whole image inside the div while preserving its aspect ratio */
}

.career-head {
  background-color: #2e2e2e88;
  width: 100%;
  height: 4500px;

}

.career-text h1 {
  padding-top: 250px;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
  font-weight: bolder;
  font-size: 50px;
  color: white;
  display: flex;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
}


.job {
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-desc {

  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  width: 80%;
  height: 300px;
}

.react-logo .logo {
  margin: 15px 0px 0px 15px;
  border-radius: 10px;
  width: 80px;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.job-head {
  display: flex;
  align-items: center;
}

.job-name {
  margin: 20px 0px 0px 10px;
  color: #09203A;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.job-desc-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mulish', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;

}

.pipe {
  margin: 10px;
  width: 1px;
  height: 30px;
  background-color: rgb(95, 94, 94);

}

.job-name span {
  font-size: medium;
  color: #4b4f58;
}

.job-hr {
  margin: 1rem 0;
}

.job-detail {
  margin: 10px;
  padding: 10px;
}

.job-detail p {
  text-align: justify;
  font-family: 'Mulish', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
  font-size: large;
  color: #2e2e2e;
}

#job-bottom {
  margin-bottom: 15px;
}

/* contact us */

.cont-header {

  margin-top: 118px;
  width: 100%;
  height: 400px;
  background-image: url(vender/image/worldMap1_1702967457080.jpg);
  background-size: cover;
}

.cont-glass {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background: rgba(143, 163, 216, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.cont-parent {
  width: 80%;
}


.cont-parent h1 {
  margin-bottom: 20px;
  color: gold;
  font-weight: 800;
  font-size: xxx-larger;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
}

.cont-parent h4 {
  margin: 10px 0px 10px 0px;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
  ;
}

.cont-parent p {
  text-align: justify;
  width: 500px;
  color: white;
}

.cont-Gparent {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cont-box {
  display: flex;
  align-items: center;
}

.cont-icon img {
  width: 50px;
  margin: 20px 0px 10px 0px;
  height: 50px;
}

.cont-addreshes {
  text-align: center;
  color: white;
  padding: 5px;
  height: 220px;
  background-color: #334e6da6;
  border-radius: 5px;
}

.cont-map {
  border: 5px solid #09203A;
}

.cont-map iframe {
  width: 100%;
}

/* client-css */

.client-header {
  position: relative;
  width: 100%;
  height: 100px;
  background: hsla(33, 100%, 53%, 1);

  background: linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(33, 100%, 53%, 1) 0%, hsla(58, 100%, 68%, 1) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF930F", endColorstr="#FFF95B", GradientType=1);
}
 .client-heading{
  font-family: 'Mulish', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
  color: white;
  padding-top: 20px;
  margin: 119px;
  display: flex;
  align-items: center;
  /* background: #000; */

}


.container {
  margin-bottom: 20px;
}

.row .web-logo {
  width: 245px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid rgb(248, 218, 48);
  
}

.row .web-logo:hover {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}